@import './font';
@import './colors';
*{
    outline: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: $font-principal;
    font-size: 18px;
    background-color: $white-bg;
}