@import '../base/colors';

.alert{
    width: 80%;
    margin: auto;
    background-color: $color-alert;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-radius: 5px;
    &__text{
        color: $white-primary;
        display: block;
    }
    &__button{
        display: block;
        background-color: transparent;
        border: none;
    }
    &__icon{
        color: $white-primary;
        font-size: 1rem;
        cursor: pointer;
    }
    &-transition-appear{
        transition: transform 300ms ease-out;
        transform: scale(0);
    }
    &-transition-appear-active{
        transform: scale(1);
    }
    &-auth{
        width: 300px;   
        background-color: red;
        position: fixed;
        top: 10px;
        right: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        
        &__message{
            color: $white-primary;
            font-weight: bold;
            text-align: center;
        }

    }
    &-auth-transition-appear{
        transition: transform 300ms ;
        transform: translateX(600px);

    }
    &-auth-transition-appear-active{
        transform: translateX(0);
        
    }
}