@import '../base/colors';

.alert{
    width: 80%;
    margin: auto;
    background-color: $color-alert;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-radius: 5px;
    &__text{
        color: $white-primary;
        display: block;
    }
    &__button{
        display: block;
        background-color: transparent;
        border: none;
    }
    &__icon{
        color: $white-primary;
        font-size: 1rem;
        cursor: pointer;
    }
    &-transition-appear{
        transition: transform 300ms ease-out;
        transform: scale(0);
    }
    &-transition-appear-active{
        transform: scale(1);
    }
}