@import '../base/colors';
@import '../base/font';

.form-upload{
    width: 50%;
    &__label{
        display: block;
        text-align: left;
        font-size: 1rem;
        color: $black-secundary;
        margin-bottom: 5px;
    }
    &__input, &__text-area{
        width: 100%;
        padding: .5rem .5rem;
        border: 1px solid $white-secundary;
        background-color: transparent;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: $font-principal;
        &:focus{
         border-color: $turquesa;   
        }
    }
    &__text-area{
        max-width: 100%;
        min-width: 100%;
        max-height: 100px;
        min-height: 50px;
    }
    &__button{
        background-color: $turquesa;
        width: 100%;
        border: none;
        padding: .6rem;
        font-size: 1rem;
        color: $white-primary;
        font-family: $font-principal;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 7px;
        border-radius: 5px;
    }
}