@import '../base/colors';
.preview-document{
    &__icon{
        color: red;
        font-size: 4rem;
    }
    &__title{
        font-size: 1.5rem;
        color: $white-secundary;
        margin-bottom:0 ;
    }
    &__text{
        margin-top: 0;
    }
    &__link{
        text-decoration: none;
    }
}